<!doctype html>
<html lang="en-us">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>{% block title %}Create Trip{% endblock %}</title>
    <style type="text/css">
      .errorlist {
        margin: 0;
        padding: 0;
      }
      .errorlist li {
        list-style: none;
        font-size: 90%;
        color: red;
      }
      .errorlist ~ input,
      .errorlist ~ select {
        border-color: red;
      }
    </style>
  </head>
  <body>
    <div style ="background-color: purple; color: aliceblue;">
      <h1 class = "text-center" style = "padding-top: 10px; padding-bottom: 10px;">MBTA OnTime</h1>
    </div>
    
    
    {% block content %}
    {% endblock %}
  </body>
</html>